<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6">
      <h3 class="contact-heading">This is Me</h3>
      <div class="border-line"></div>
      <div class="pic-container"><img class="pic" src="/images/picture.jpeg" alt="Profile Picture"/></div>
    </div>
    <div class="col-lg-6">
        <h3 class="contact-heading">About Me</h3>
        <div class="border-line"></div>
        <p class="p-about mb-3">3 years of Experience</p>
        <p class="p-contact mb-3">3 years of experience of building interactive web and mobile applications built on Javascript.</p>
        <p class="p-contact mb-3">Currently a student studying Mobile Solutions Development at <b>Conestoga College</b> living in <b>Ontario, Canada</b>.</p>

        <h3 class="contact-heading">Skills</h3>
        <div class="border-line"></div>
        <ul class="skills">
          <li class="skill-point">HTML/CSS/Javascript</li>
          <progress class="skill-progress" value="95" max="100"></progress>
          <li class="skill-point">Flutter</li>
          <progress class="skill-progress" value="65" max="100"></progress>
          <li class="skill-point">Java</li>
          <progress class="skill-progress" value="90" max="100"></progress>
          <li class="skill-point">Angular</li>
          <progress class="skill-progress" value="98" max="100"></progress>
          <li class="skill-point">React</li>
          <progress class="skill-progress" value="75" max="100"></progress>
        </ul>
    </div>
  </div>
</div>