<div class="navbar-wrapper">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link active" aria-current="page" href="/about">About Me</a>
        <a class="nav-link" href="/projects">Projects</a>
        <a class="nav-link" href="/contact">Contact Me</a>
      </div>
    </div>
  </div>
</nav>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h3 class="contact-heading">This is Me</h3>
        <div class="border-line"></div>
        <div><img src="/images/picture.jpeg" alt="Profile Picture"/></div>
      {{!-- <div class="row mt-2">
        
        <div class="col-md-3"></div>
        <div class="col-md-5">
          <div class="pdetail"><p class="plabel">Name: </p><p class="pvalue"> Sohail Shiraj</p></div>
          <div class="pdetail"><p class="plabel">Profile: </p><p class="pvalue"> Full Stack Developer</p></div>
          <div class="pdetail"><p class="plabel">Email: </p><p class="pvalue"> sohail.shiraj@hotmail.com</p></div>
          <div class="pdetail"><p class="plabel">Phone: </p><p class="pvalue"> (548) 333-8020</p></div>
        </div>
      </div> --}}
      {{!-- <div class="mt-3">
        <p class="small-heading">Skills</p>
        <div>
          <ul>
            <li><p>HTML</p></li>
            <li><p>CSS</p></li>
            <li><p>Javascript</p></li>
            <li><p>Typescript</p></li>
            <li><p>Java</p></li>
            <li><p>Angular</p></li>
            <li><p>ReactJS</p></li>
            <li><p>NodeJS</p></li>
          </ul>
        </div>
      </div> --}}
    </div>
    <div class="col-md-6">
        <h3 class="contact-heading">About Me</h3>
        <div class="border-line"></div>
        <p class="p-about mb-3">3 years of Experience</p>
        <p class="p-contact mb-3">3 years of experience of building interactive web and mobile applications built on Javascript.</p>
        <p class="p-contact mb-3">Currently a student studying Mobile Solutions Development at <b>Conestoga College</b> living in <b>Ontario, Canada</b>.</p>
    </div>
  </div>
</div>