<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h3 class="contact-heading">This is Me</h3>
      <div class="border-line"></div>
      <div><img src="/images/picture.jpeg" alt="Profile Picture"/></div>
    </div>
    <div class="col-md-6">
        <h3 class="contact-heading">About Me</h3>
        <div class="border-line"></div>
        <p class="p-about mb-3">3 years of Experience</p>
        <p class="p-contact mb-3">3 years of experience of building interactive web and mobile applications built on Javascript.</p>
        <p class="p-contact mb-3">Currently a student studying Mobile Solutions Development at <b>Conestoga College</b> living in <b>Ontario, Canada</b>.</p>
    </div>
  </div>
</div>