<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h3 class="contact-heading">Message me</h3>
            <div class="border-line"></div>
            <div class="d-flex flex-column">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Your Name">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" placeholder="Your Email">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Subject">
                </div>
                <div class="mb-3">
                    <textarea class="form-control" placeholder="Message" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <button type="button" class="btn btn-dark btn-block">Send Message</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="contact-heading">Get in Touch</h3>
            <div class="border-line"></div>
            <p class="p-contact mb-3">Any questions? <br/>Send me your questions or lets connect on email or phone</p>
            <p class="mt-2 icon-para"><i class="fas fa-map-marker-alt"></i> Conestoga College, Waterloo, Ontario</p>
            <p class="mt-2 icon-para"><i class="fas fa-mobile-alt"></i> (548) 333-8020</p>
            <p class="mt-2 icon-para"><i class="far fa-envelope"></i> sohail.shiraj@hotmail.com</p>
            <div>
                <a><i class="fab fa-linkedin icon-social icon-linkedin"></i></a>
                <a><i class="fab fa-facebook icon-social icon-fb"></i></a>
                <a><i class="fab fa-github icon-social icon-github"></i></a>
            </div>
        </div>
    </div>
</div>
