<div class="cover-page">
  <img class="img-cover" src="/images/cover.jpg" />
  <div class="cover-detail">
    <p class="home-page-text main-text">Sohail Shiraj</p>
    <p class="home-page-text desc-text">Passionate and Full Stack Developer</p>
  </div>
</div>
