<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-responsive.min.css" />
    <link rel='stylesheet' href="/stylesheets/style.css" />
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/f9217c778e.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="navbar-wrapper">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/images/picture.jpeg" class="home-picture"/></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" href="/">Home</a>
        <a class="nav-link active" aria-current="page" href="/about">About Me</a>
        <a class="nav-link active" href="/projects">Projects</a>
        <a class="nav-link active" href="/contact">Contact Me</a>
      </div>
    </div>
  </div>
</nav>
</div>
    {{{body}}}
    {{!-- <div class="footer-wrapper"> --}}
  <footer class="footer bg-dark navbar-dark">
    <p>© Copyright <strong>Sohail Shiraj</strong>. All Rights Reserved</p>
</footer>
{{!-- </div> --}}
  </body>
</html>
