<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-responsive.min.css" />
    <link rel='stylesheet' href="/stylesheets/style.css" />
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/f9217c778e.js" crossorigin="anonymous"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
