<div class="container mt-5">
    <div class="row">
        <div class="col-md-10">
            <h3 class="contact-heading">Portfolio</h3>
            <p class="contact-description">These are all my projects that I have worked on</p>
            <div class="border-line1"></div>
        </div>
    </div>
    <div class="row mt-5 text-center">
        <div class="col-lg-4">
            <div class="project-tile">
                <div class="proj-img-container">
                    <img class="proj-img" src="/images/image7.jpg" alt="Card image cap">
                </div>
                <div class="text-center" style="width: 250px">
                    <p class="proj-heading">Customer Complaint System</p>
                    <p class="proj-position">Web and mobile developer</p>
                    <p class="proj-date">Jan 2020 - Nov 2020</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="project-tile">
                <div class="proj-img-container">
                    <img class="proj-img" src="/images/image4.png" alt="Card image cap">
                </div>
                <div class="text-center" style="width: 250px">
                    <p class="proj-heading">Social Chatting web</p>
                    <p class="proj-position">Full Stack developer/ Mentor</p>
                    <p class="proj-date">Feb 2019 - Dec 2019</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="project-tile">
                <div class="proj-img-container">
                    <img class="proj-img" src="/images/image3.jpg" alt="Card image cap">
                </div>
                <div class="text-center" style="width: 250px">
                    <p class="proj-heading">Donation Collector</p>
                    <p class="proj-position">Front end developer</p>
                    <p class="proj-date">June 2018 - Dec 2018</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="project-tile">
                <div class="proj-img-container">
                    <img class="proj-img" src="/images/image2.jpg" alt="Card image cap">
                </div>
                <div class="text-center" style="width: 250px">
                    <p class="proj-heading">Library Management System</p>
                    <p class="proj-position">Full Stack developer</p>
                    <p class="proj-date">June 2017 - Sept 2017</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="project-tile">
                <div class="proj-img-container">
                    <img class="proj-img" src="/images/image1.jpg" alt="Card image cap">
                </div>
                <div class="text-center" style="width: 250px">
                    <p class="proj-heading">Fantasy League</p>
                    <p class="proj-position">Front end developer</p>
                    <p class="proj-date">June 2016 - Dec 2016</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="project-tile">
                <div class="proj-img-container">
                    <img class="proj-img" src="/images/image4.jpg" alt="Card image cap">
                </div>
                <div class="text-center" style="width: 250px">
                    <p class="proj-heading">Kids learning web</p>
                    <p class="proj-position">Front end developer</p>
                    <p class="proj-date">Nov 2015 - Dec 2015</p>
                </div>
            </div>
        </div>

    </div>
</div>