body {
  background-color: #F1F1F1;
  padding: 50px 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  left: 0;
  z-index: 20;
}

div.navbar-nav a:hover { border-bottom: 1px white solid; }

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  height: 50px;
  color: white;
  padding: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-desc{
  text-align: left;
  margin-top: 6px;
}

.icon-social-footer {
  font-size: 25px;
  color: white;
}

.navbar {
  min-height: 65px;
}

.nav-link {
  margin-left: 10px;
}

.container {
  background-color: #FFFFFF;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 10px;
}

.container-fluid{
  width: 100%;
}

.home-picture{
  width: 34px;
  border-radius: 20px;
  border: 2px white solid;
}

/* Contact Page */
.contact-heading {
  margin: 0 0 10px 0;
}

.border-line {
  border-top: 3px blue solid;
  margin: 0 0 20px 0;
  width: 50%;
}

.p-contact{ 
  font-size: 18px;
}

.icon-para {
  font-size: 16px;
}

.icon-social{
  font-size: 35px;
}

.icon-linkedin {
  color: #0A66C2;
}

.icon-fb {
  color: #097EEB;
}

.icon-github {
  color: #000000
}

a {
  margin-right: 8px;
  cursor: pointer;
}

/* About Me Page */
.pic-container {
  height: 425px;
}

.pic {
  max-height: 100%
}

.pdetail {
  display: flex;
}

.plabel {
  font-weight: 600;
  font-size: 16px;
}

.pvalue {
  font-size: 16px;
}

.small-heading{
  font-size: 16px;
  font-weight: 600;
}

.p-about {
  font-size: 24px;
  font-weight: 700;
}

.contact-description {
  font-size: 14px;
}

.border-line1 {
  border-top: 3px blue solid;
  margin: 0 0 20px 0;
  width: 5%;
}


.skills {
  list-style-type: square;
  font-size: 20px;
}

.skill-point{
  font-size: 20px;
}

.skill-progress {
  width: 100%;
}

i {
  margin-right: 20px;
}


/* Projects */
.project-tile{
  padding: 20px;
  min-width: 250px;
}

.proj-img-container {
  width: 250px;
  height: 180px;
}

.proj-img {
  max-width: 100%;
  max-height:100% 
}

.proj-heading {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.proj-position{
  margin-bottom: 10px;
}

.proj-date{
  font-style: italic;
  font-weight: 13px;
  color: blue;
}

/* Cover Page */
.cover-page {
  width: 100%;
  position: relative;
}

.img-cover {
  height: 87vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 85%;
}

.cover-detail {
  position: fixed;
  top: 250px;
  right: 0;
  width: 100%;
  align-items: center;
}

.home-page-text{
  color: white;
  text-align: center;
}

.main-text {
  font-size: 75px;
  font-weight: 700;
}

.desc-text {
  font-size: 30px;
  font-weight: 400;
}
